.webix_layout_toolbar.webix_toolbar {
    background: #587089;
    height: 60px !important;
}

.webix_icon_btn, .webix_icon {
    font-size: 24px;
    width: 46px;
}

.webix_sidebar {
    background: #fff;
}

.webix_sidebar .webix_tree_item.webix_selected,
.webix_sidebar .webix_tree_item.webix_selected span {
    background-color: #fff;
    color: #f9948b;
}

.main_sidebar span {
    margin-left: 9px !important;
}

.main_sidebar.webix_sidebar .webix_tree_branch_1 {
    border: none;
}

.main_sidebar .webix_tree_item {
    height: 55px !important;
    line-height: 57px !important;
    margin-top: 13px;
}

.main_sidebar .webix_selected {
    background-color: #f9948b !important;
    width: 5px;
}

.main_sidebar .webix_selected .webix_icon:before {
    color: #f9948b;
}

.webix_sidebar_popup_title .webix_template,
.webix_sidebar_popup_title.webix_selected,
.main_sidebar.webix_sidebar .webix_tree_branch_1>.webix_tree_item {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 700;
}

.main_sidebar.webix_sidebar .webix_tree_item {
    font-size: 50px;
}

/* SPECIAL COFFEE OFFERS */
.coffee_box .webix_dataview_item, .coffee_box .webix_dataview_item:focus {
    border-width: 0px;
    outline: none;
}
.coffee_box .webix_dataview_item > div {
    box-shadow: 5px 5px 5px #eee;
    margin: 10px;
    padding: 10px;
}
.coffee_box .block {
    clear: both;
    text-align: center;
}
.button {
    border-radius: 0;
    width: 100%;
    text-align: center;
    background-color: #536478;
    padding: 5px 0px;
}
.accordion .webix_accordionitem_header {
    background-color: #f9948e;
    font-size: 18px;
    line-height: 60px;
}
.accordion .webix_accordionitem.collapsed .webix_accordionitem_header {
    background-color: #969faa;
    color: #fff;
}
.accordionitem_animation .webix_accordionitem {
    transition: height 0.5s;
}

/* CUSTOMERS */
.all_pagers, .pager .webix_pager_item, .pager .webix_pager_item_selected {
    border-color: #fff;
    border-radius: 4px;
}
.all_pagers:hover, .pager .webix_pager_item:hover, .pager .webix_pager_item_selected:hover {
    background-color: #fff;
    border-color: #536478;
}
.all_pagers:active, .pager .webix_pager_item:active, .pager .webix_pager_item_selected:active, .all_pagers:focus, .pager .webix_pager_item:focus, .pager .webix_pager_item_selected:focus {
    background-color: #fff;
}

.pager .webix_pager_item {
    color: #536478;
    background-color: #fff;
}
.pager .webix_pager_item:active, .pager .webix_pager_item:focus {
    background-color: #fff;
}

.pager .webix_pager_item_selected {
    background-color: #536478;
}
.pager .webix_pager_item_selected:hover {
    background-color: #536478;
    border-color: #536478;
}

.webix_column > div, .webix_table_cell {
    border-top: none;
    border-left: none;
    border-right: none;
}

.btn .webix_el_box button.webix_img_btn_abs.webixtype_base {
    background: #f9948b;
    border: 1px solid #f9948b;
}

.btn .webix_el_box.webix_disabled_box button.webix_img_btn_abs.webixtype_base {
    background: #eee;
    border: 1px solid #eee;
}

.btn .webix_icon {
    font-size: 18px;
    width: 24px;
}

/* ORGANOGRAM */
.organogram {
    background: url("../../images/bg_coffee.png");
}

.organogram img.avatar {
    width: 100%;
    max-width: 80px;
    position: absolute;
    left: 150px;
    top: 0px;
    border-radius: 50%;
}

.organogram .wrapper {
    position: absolute;
    top: 8px;
    left: 15px;
    max-width: 130px;
}

.organogram .wrapper p {
    margin: 6px 0;
}

.organogram .wrapper p:nth-of-type(1) {
    font-weight: bold;
}

.organogram .wrapper p:nth-of-type(2) {
    font-size: 14px;
}

.organogram .webix_organogram_item {
    background: #fff;
    border: 1px solid #eee;
    height: 82px !important;
    margin-bottom: 0 !important;
}

.organogram .webix_organogram_item.webix_selected {
    background: #536478;
}

/* PDF VIEWER */
.webix_toolbar.pdf_bar .webix_template, .pdf_toolbar.webix_layout_toolbar.webix_toolbar {
    background: #9CAAB5;
}